<span class="lead text-center">The estimated price for a level <strong><%= @input1 %></strong> person, is approximately <strong><%= @result %></strong> </span>
<hr>

<%= link_to 'Back to Doctor', @doctor %>
